/* orange color: #fc8019
black color: #000
text-black: #282c3f;
bg brown: #2b1e16
text color brown: #e0cbc1
font-family: 'Roboto', sans-serif;
font-family: 'Vidaloka', serif;
text-color grey: #686b78; */

@import "mixin/mixins";

@import "section/header";
@import "responsive";
@import "variables";
@import "forallpage";




